.kanbn-task-tag-firmware {
    background-color: rgb(38, 217, 237);
}

.kanbn-task-tag-pcb {
    background-color: rgb(45, 185, 38);
}

.kanbn-task-tag-schematic {
    background-color: rgb(228, 166, 41);
}


.kanbn-task-tag-design {
    background-color: rgb(237, 38, 124);
}